@{ ViewData["Title"] = "Home Page"; }


<p style="color:black;font-size:46px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
	<strong>Welcome</strong>
</p>
<hr />
<div class="" style="font-family:cursive; font-size: 60px">
	PENSION MANAGEMENT SYSTEM
</div>
