@model PensionDetail

@{ ViewData["Title"] = "PensionervaluesDisplayed"; }


<div class="container p-3 rounded bg-secondary text-white" style="border-radius : 50px; text-align : center;">
	<h1>Your Pension Amount is <b>Rs. 45,050</b></h1>
</div>
<br />
<br />

<div>
	<a class="btn btn-outline-danger my-2 my-sm-0" asp-controller="Pension" asp-action="Login">Logout</a>
</div>


